<div class="main">
  <header>
    <nav class="row">
      <div class="column1">
        <img src="assets/Qatar_Cricket_Associations.jpg" id="logo" alt="logo">
      </div>

      <div class="column2">
        <div class="nav-container">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Series</a></li>
            <li><a href="#">Fixtures</a></li>
            <li><a href="#">Stats</a></li>
            <li><a href="#">Rankings</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
