.carousel-container {
  position: relative;
  width: var(--primary-width);
  max-width: var(--primary-max-width); 
  margin: 0 auto; 
  overflow: hidden;
}

.picsum-img-wrapper {
  width: 40em;
  height: 25em; 
}

.picsum-img-wrapper img {
  width: var(--primary-width);
  height: 100%;
  object-fit: cover; 
  display: block;
}

.app-container {
  display: flex;
  justify-content: space-around;
  padding: var(--primary-padding);
  background-color: #8A1738;
  color: var(--primary-color);
}