.carousel-container {
  position: relative;
  width: 100%;
  max-width: 800px; 
  margin: 0 auto; 
  overflow: hidden;
}

.picsum-img-wrapper {
  width: 40em;
  height: 25em; 
}

.picsum-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.app-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #8A1738;
  color: white;
}