  .card-row {
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      gap: var(--secondary-gap);
      background-color:#8A1738;
      height: 40%;
      flex-wrap: nowrap;
      padding: 0 5.0em 0 3.0em;
      scrollbar-width: none;
  }
  
  .card-container {
      display: flex;
      align-items: center;
      position: relative;
      max-width: var(--primary-max-width);
    }

  .scroll-button.right {
      font-size: 180px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      position: absolute;
      color: aliceblue;
      right: 0;
      z-index: 8;
      margin: 0 0 5% 0;
    }
    
    .app-container {
      display: flex;
      justify-content: space-around;
      padding: var(--secondary-padding);
      background-color: var(--primary-background-color);
      color: var(--primary-color);
    }
    