<div class="container">

    <div class="summary">
      <div class="card">
        <h4>Series Winner </h4>
        <div class="content">
          <img src="assets/flags/india.png" alt="India Flag" />
          <span>India</span>
        </div>
      </div>
      <div class="card">
        <h4>Player of the Series</h4>
        <div class="content">
          <img src="assets/user.png" alt="Player Image" />
          <span>
            T Varma<br />
            <small>India</small>
          </span>
        </div>
      </div>
    </div>
  
   
    <div class="info">
      <h3>IND vs SA 2024 Info</h3>
      <div class="info-row">
        <span class="label">Series</span>
        <span>India tour of South Africa 2024</span>
      </div>
      <div class="info-row">
        <span class="label">Duration</span>
        <span>Nov 8 - Nov 15, 2024</span>
      </div>
      <div class="info-row">
        <span class="label">Format</span>
        <span>4 T20s</span>
      </div>
    </div>
  </div>
  