
.container {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
  }

  .summary {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .card {
    flex: 1;
    background-color: #f4f6fa;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card h4 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    color: green;
  }

  
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .content img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .content span {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .content small {
    font-size: 14px;
    color: #777;
  }
  
  /* Info Section */
  .info {
    margin-top: 30px;
  }
  
  .info h3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .info-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .info-row .label {
    color: #888;
    font-weight: bold;
  }
  