
.container {
  font-family: var(--primary-font-family);
    color: #333;
    padding: var(--secondary-padding);
  }

  .summary {
    display: flex;
    justify-content: space-between;
    gap: var(--secondary-gap);;
  }
  
  .card {
    flex: 1;
    background-color: #f4f6fa;
    border-radius: var(--secondary-border-radius);
    padding: var(--primary-padding);
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card h4 {
    font-size: var(--primary-font-size);
    margin-bottom: var(--primary-margin-bottom);
    margin-bottom: var(--primary-margin-bottom);
    color: green;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--primary-gap);
  }
  
  .content img {
    width: 15%;
    height: 50%;
    border-radius: var(--primary-border-radius);
  }
  
  .content span {
    font-size: var(--primary-font-size);
    margin-bottom: var(--primary-margin-bottom);
    color: #333;
  }
  
  .content small {
    font-size: var(--primary-font-size);
    color: #777;
  }
  
  /* Info Section */
  .info {
    margin-top: var(--primary-margin-top);
  }
  
  .info h3 {
    font-size: var(--secondary-font-size);
    margin-bottom: var(--primary-margin-bottom);
    margin-bottom: var(--primary-margin-bottom);
  }
  
  .info-row {
    display: flex;
    justify-content: space-between;
    padding: 2% 0;
    border-bottom: 1px solid #ddd;
  }
  
  .info-row .label {
    color: #888;
    margin-bottom: var(--primary-margin-bottom);
  }
  