/* Container Styling */
.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #333;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .match-section {
    margin-bottom: 20px;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
  }
  
  h4 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  p {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
  }
  
  /* Teams Section */
  .teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .teams:hover{
    background-color: #f0f0f0;
  }
  
  .team {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .team img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .team h5 {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
  }
  
  .team p {
    margin: 0;
    font-size: 14px;
    color: #555;
  }
  
  .result {
    text-align: center;
    font-size: 14px;
  }
  