.container {
  font-family: var(--primary-font-family);
    padding: var(--primary-padding);
    color: #333;
  }
  
  h3 {
    font-size: var(--secondary-font-size);
    margin-bottom: var(--primary-margin-bottom);
  }
  
  .match-section {
    margin-bottom: var(--secondary-margin-bottom);
    padding: 2% 0;
    border-bottom: 1px solid #ddd;
  }
  
  h4 {
    font-size: var(--primary-font-size);
    margin-bottom: var(--primary-margin-bottom);
    margin-bottom: var(--primary-margin-bottom);
    color: #555;
  }
  
  p {
    font-size: var(--primary-font-size);
    color: #555;
    margin-bottom: var(--primary-margin-bottom);
  }
  
  .teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .teams:hover{
    background-color: #f0f0f0;
  }
  
  .team {
    display: flex;
    align-items: center;
    gap: var(--primary-gap);
  }
  
  .team img {
    width: 3rem;
    height: 3rem;
    border-radius: var(--primary-border-radius);
  }
  
  .team h5 {
    font-size: var(--primary-font-size);
    margin-bottom: var(--primary-margin-bottom);
  }
  
  .team p {
    font-size: var(--primary-font-size);
    color: #555;
  }
  
  .result {
    text-align: center;
    font-size: var(--primary-font-size);
  }
  