<div class="squad-container">
  <h1>{{ title }}</h1>
  <div class="teams">
    <div class="team-list">
      <div *ngFor="let team of teams; let i = index" class="team-item" (click)="showPlayers(i)">
        <img [src]="team.flag" alt="{{ team.name }} Flag" />
        <div>
          <h3>{{ team.name }}</h3>
          <p>{{ team.playersCount }} Players</p>
        </div>
      </div>
    </div>
 

  <div *ngIf="selectedTeam">
    <h2>{{ selectedTeam.name }} Players</h2>
    <div class="bat">
      <h3>Bat ({{ teams[0].players.length }})</h3>
      <div class="player-list">
        <div *ngFor="let player of teams[0].players" class="player-card">
          <img [src]="player.avatar" alt="{{ player.name }} Avatar" />
          <div>
            <p>{{ player.name }}</p>
            <p>{{ player.role }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="bat">
      <h3>Bowl ({{ teams[0].players.length }})</h3>
      <div class="player-list">
        <div *ngFor="let player of teams[0].players" class="player-card">
          <img [src]="player.avatar" alt="{{ player.name }} Avatar" />
          <div>
            <p>{{ player.name }}</p>
            <p>{{ player.role }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
