.banner-container {
  display: flex;
  min-height: 10rem;
  min-width: var(--primary-min-width);
  justify-content: space-around;
  align-items: center;
  background-color: #4b091c; 
  color: #ffffff; 
}

.score-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-score {
  display: flex;
  align-items: center;
  font-size: var(--primary-font-size);
  justify-content: center;
}

.team-icon {
  width: 15%;
  height: 15%;
  margin-right: 4%;
  border-radius: var(--primary-border-radius);
}

.result-section {
  min-width: var(--secondary-min-width);
  margin-bottom: var(--primary-margin-bottom);
  text-align: center;
  color: goldenrod;
}

.nav-tabs {
  display: flex;
  justify-content: left;
  padding-left: 8%;
  column-gap: 2%;
  background-color: #4b091c;
}

.nav-tabs .tab {
  color: #ffffff;
  text-decoration: none;
  padding: 1% 2%;
  margin-bottom: var(--primary-margin-bottom);
}

.nav-tabs .selected {
    color: #f05454;
    border-bottom: 2px solid #f05454;
}

.container{
  font-family: var(--primary-font-family);
  color: #333;
  display: flex;
  flex-direction: column;
}

.container h3{
  margin-bottom: var(--primary-margin-bottom);
}

.container button{
  display: flex;
}
.score-btn{
  display: flex;
  justify-content: space-between;
}

.btn-new {
  color: #4b091c;
  border-color: #4b091c;
  background-color: transparent;
}

.btn-new:hover {
  background-color: #4b091c !important;
  color: #ffffff !important;
  border-color: #4b091c !important;
}

