.news-container {
  max-width: var(--primary-max-width);
  margin: 3%;
  font-family: var(--primary-font-family);
}

h2 {
  font-size: var(--secondary-font-size);
  margin-bottom: var(--secondary-margin-bottom);
  margin-bottom: var(--primary-margin-bottom);
}

.top-news {
  display: flex;
  flex-wrap: wrap;
  gap: var(--primary-gap);
}

.news-card {
  display: flex;
  align-items: center;
  width: 40%;
}

.news-card img {
  max-width: 55%;
  max-height: 55%;
  border-radius: var(--secondary-border-radius);
  margin-right: 5%;
}

.news-details {
  flex: 1;
}

.news-details .author {
  font-size: var(--primary-font-size);
  color: #666;
  margin-bottom: var(--primary-margin-bottom);
}

.news-details .title {
  font-size: var(--primary-font-size);
  margin-bottom: var(--primary-margin-bottom);
  color: #000;
}

hr {
  margin: 1% 0;
  border: none;
  height: 1px;
  background-color: #ddd;
}

.main-news {
  display: flex;
  flex-direction: column;
  gap: var(--primary-gap);
}

.main-news-card {
  display: flex;
  flex-direction: column;
  color: #666;
}

.main-news-card img {
  max-width: var(--primary-max-width);
  max-height: 20em;
  object-fit: cover;
  border-radius: 1rem;
}


.description {
  color: #444;
}