/* Existing Styles */

body {
    background-color: #F5F5F5;
}

.team-head {
    background-color: #4b091c;
    padding: 2% 2% 0 0;
    text-align: center;
    color: #fff;
}

.current-team-img {
    border-radius: 4%;
    width: 12%;
    height: 12%;
}

.team-next {
    width: 5rem;
    height: auto;
    border-radius: 4%;
}

.next-btn img {
    width: 20px;
    height: 20px;
    background-color: #9b0f36;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.series-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.series-date {
    font-size: 0.9rem;
    color: #ccc;
    margin-right: 15%;
}

/* Navigation Tabs */

.nav-tabs {
    display: flex;
    justify-content: left;
    margin-left: 10%;
    background-color: #4b091c;
    margin-top: 2%;
}

.tab {
    color: #ccc;
    padding: 10px 40px;
    text-decoration: none;
    font-weight: bold;
}

.tab.active {
    color: #f05454;
    border-bottom: 2px solid #f05454;
}

.tab:hover {
    color: #f05454;
}

.row {
    display: flex;
    width: 100%;
    height: auto;
}

.column-left {
    width: 60%;
    padding-right: 2%;
    padding-left: 12%;
}

.column-right {
    width: 40%;
    padding-left: 5%;
    border-left: thin solid #e6e6e6;
}

h5 {
    margin-top: 5%;
}

.sub-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1rem;

}

.more_matches {
    color: rgb(1, 69, 146);
}

/* Fixtures */

.fixtures {
    margin-top: 1rem;
}

.fixture-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}

.team {
    display: flex;
    align-items: center;
}

.team img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    border-radius: 50%;
}

.match-info {
    text-align: center;
    color: #555;
}

/* Key Stats */
.key-stats {
    width: 100%;
    padding: 10px;
}

.key-stats h5 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.stat-item {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fff;
}

.stat-item h6 {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 10px;
    font-weight: bold;
}

.stat-content {
    display: flex;
    align-items: center;
}

.stat-content img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.stat-details {
    flex: 1;
}

.player-name {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.country {
    font-size: 0.8rem;
    color: #777;
    margin: 0;
}

.stat-value {
    text-align: right;
}

.stat-number {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    color: #333;
}

.stat-label {
    font-size: 0.8rem;
    color: #777;
}