body {
    background-color: #4b091c;
    overflow-x: hidden;
}

.team-head {
    background-color: #4b091c;
    padding: 2% 2% 0 0;
    text-align: center;
    color: #fff;
}

.current-team-img {
    border-radius: var(--secondary-border-radius);
    width: 12%;
    height: 12%;
}

.team-next {
    width: 5rem;
    height: auto;
    border-radius: var(--secondary-border-radius);
}

.next-btn img {
    width: 1em;
    height: 1em;
    background-color: #9b0f36;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--primary-gap);
}

.series-name {
    font-size: 1.5rem;
    margin-bottom: var(--primary-margin-bottom);
}

.series-date {
    font-size: 0.9rem;
    color: #ccc;
    margin-right: 15%;
}

/* Navigation Tabs */

.nav-tabs {
    display: flex;
    justify-content: left;
    margin-left: 8%;
    background-color: #4b091c;
    margin-top: var(--secondary-margin-bottom);
}

.tab {
    color: #ccc;
    padding: 1% 4%;
    text-decoration: none;
    margin-bottom: var(--primary-margin-bottom);
}

.tab.selected {
    color: #f05454;
    border-bottom: 2px solid #f05454;
}
