<app-header></app-header>
<div class="team-head">
  <div *ngIf="team" class="banner">
    <img [src]="team.image" alt="{{ team.name }}" class="current-team-img">
    <span class="series-name">India tour of South Africa 2024</span>
    <span class="series-date">Nov 8 - Nov 15</span>
    <img src="assets/kenya.jpg" class="team-next">
    <div class="next-btn">
        <img src="assets/next-btn.png" alt="next-btn">
    </div>
  </div>
  <nav class="nav-tabs">
    <a [routerLink]="['overview']" routerLinkActive="selected" class="tab">Overview</a>
    <a [routerLink]="['matches']" routerLinkActive="selected" class="tab">Matches</a>
    <a [routerLink]="['squads']" routerLinkActive="selected" class="tab">Squads</a>
    <a [routerLink]="['series-stats']" routerLinkActive="selected" class="tab">Series Stats</a>
    <a [routerLink]="['news']" routerLinkActive="selected" class="tab">News</a>
    <a [routerLink]="['info']" routerLinkActive="selected" class="tab">Info</a>
  </nav>
</div>
<router-outlet></router-outlet>
