.table-container {
    background-color: white;
    color: black;
    border-radius: 10px 10px 0 0;
    width: 20rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20%;
  }
  
  h3 {
    margin: 0;
    font-size: 1.2em;
  }
  
  table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 8px;
    text-align: center;
    color: black;
    
  }
  
  table th {
    background-color: #f4f4f4;
  }
  
  .app-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #8A1738;
    color: white;
  }
 