.table-container {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 10px 10px 0 0;
    width: 20rem;
    text-align: center;
    font-family: var(--primary-font-family);
    margin-top: 20%;
  }
  
  h3 {
    font-size: var(--primary-font-size);
    margin-top: 1%;
  }
  
  table {
    min-width: var(--primary-min-width);
  }
  
  table th, table td {
    padding: var(--secondary-padding);
    text-align: center;
    color: var(--secondary-color);
    
  }
  
  table th {
    background-color: #f4f4f4;
  }

 