.squad-container {
    display: flex;
    flex-direction: column;
    padding: 1%;
    font-family: var(--primary-font-family);
  }
  
  h1 {
    text-align: center;
    margin-bottom: var(--primary-margin-bottom);
  }
  
  .teams {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }
  .team-heading img{
    height: 12%;
    width: 12%;
    padding: var(--primary-padding);

  }
  .team-heading span{
    margin-bottom: var(--primary-margin-bottom);
    display: flex;
    flex-direction: row;
  }
  .team-list {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: var(--primary-gap);
  }
  
  .team-item {
    display: flex;
    align-items: center;
    gap: var(--primary-gap);
    padding: 1%;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }

  .team-item a {
    text-decoration-line: none;
    color: #000;

  }
  .team-item-1 {
    display: flex;
    align-items: center;
    gap: var(--primary-gap);
    padding: 5% 0 5% 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  .team-item-1 img {
    width: 8%;
    height: 8%;
    border-radius: var(--primary-border-radius);
  }
  .bat {
    padding-top: 5%;
  }


.team-item img {
    width: 15%;
    height: 55%;
    border-radius: var(--primary-border-radius);
  }
  
.player-details {
    width: 70%;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .player-list {
    display: flex;
    gap: var(--primary-gap);
    flex-wrap: wrap;
  }
  
  .player-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--primary-gap);
  }
  
  .player-card img {
    width: 50%;
    height: 50%;
    border-radius: var(--primary-border-radius);
  }
  