.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #3a3a3a;
    color: #ffffff;
    padding: var(--primary-padding);
  }
  .links {
    display: flex;
    justify-content: space-between;
    min-width: var(--primary-min-width);
    padding: var(--primary-padding);
  }
  
  .left-links,
  .right-links {
    display: flex;
    flex-direction: column;
    gap: var(--primary-gap); 
  }
  
  .left-links a,
  .right-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: var(--primary-font-size);
    transition: color 0.3s;
  }
  
  .left-links a:hover,
  .right-links a:hover {
    color: #00bcd4;
  }
  