.card-container {
  display: flex;
  align-items: center;
  position: relative;
  width: var(--primary-width);
}

.card-row {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: var(--secondary-gap);
  background-color: var(--primary-background-color);
  height: 40%;
  flex-wrap: nowrap;
  padding: 0 5.0em 0 3.0em;
  scrollbar-width: none;
}

.scroll-button {
  font-size: 18%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  color: aliceblue;
  z-index: 8;
}

.scroll-button.right {
  right: 0;
}

.scroll-button.left {
  left: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  text-align: center;
  color: var(--primary-background-color);
  border-radius: var(--secondary-border-radius);
  margin-bottom: var(--primary-margin-bottom);
}

.a_card {
  text-decoration: none;
}

.card img {
  width: var(--primary-width);
  height: 100%;
  border-radius: var(--secondary-border-radius);
}

