.match-stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--primary-padding);
    font-family: var(--primary-font-family);
  }
  
  h2 {
    font-size: var(--secondary-font-size);
    margin-bottom: var(--secondary-margin-bottom);
  }
  
  .match-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: var(--primary-padding);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 50%;
    width: var(--primary-width);
    background-color: #f9f9f9;
  }
  
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2%;
  }
  
  .team img {
    width: 3rem;
    height: 3rem;
    margin-bottom: var(--primary-margin-bottom);
  }
  
  .team p {
    font-size: var(--primary-font-size);
    margin-bottom: var(--primary-margin-bottom);
  }
  
  .score {
    text-align: center;
  }
  
  .score h1 {
    font-size: 36px;
    margin-bottom: var(--primary-margin-bottom);
  }
  
  .score p {
    font-size: var(--primary-font-size);
    margin-top: var(--primary-margin-top);
    color: #555;
  }
  
  .winner {
    color: green;
    margin-bottom: var(--primary-margin-bottom);
  }
  